<div class="rack-container">
    <h2 class="title title__rack-container">Стеллаж</h2>
    <div class="rack">
        <div class="numbers">
            <div class="number" *ngFor="let i of [4,3,2,1,0]">{{i}}</div>
        </div>

        <div class="shelfs"> 
               <div class="shelf" *ngFor="let shelfOrder of [4,3,2,1,0]" [attr.data-shelfOrder]="shelfOrder"> 
                   <img class="product" *ngFor="let product of currentRack$ | async | productsOfShelf:shelfOrder" [src]="rackService.getProductUrl(product)" [attr.data-productOrder]="rackService.getProductOrder(product)"  [attr.data-productId]="rackService.getProductId(product)" (mousedown) = "onMousedown.bind()">
                </div>
        </div>
    </div>
</div>
